@import 'variables';

.jobs-header{
    background-color: $primary-color;
    margin-bottom: 2rem;
    margin-right: 1rem;
    width: 100%;
    .search-bar{
        padding: 0.7rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        div{
            width: 20% !important;
            background-color: white;
            padding: 0.5rem;
            border-radius: 5px;
        }
        .search-box{
            width: 83% !important;
        }
        .search-button{
            width: 15% !important;
            background-color: $orange;
        }
      
    }
}
.search-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    img{
        width: 1rem;
        height: 1rem;
        margin-right: 1rem;
    }
}
.filter{
    background-color: white;
    margin-top: 1rem;
    padding-left: 0;
    h5{
        text-align: center;
        margin-bottom: 2rem;
    }
    h6{
        margin-top: 1rem;
    }
    ul{
            list-style: none;
        li{
            position: relative;
            background-color: #eee;
            padding:0.3rem 2rem;
            margin-bottom: 1rem;
            border-radius: 3px;
            display: flex;
            align-items: center;
            span{
                font-size: small;
            }
        }
    }
    .check-box{
        width: 1.2rem !important;
        height: 1.2rem !important;
        margin-right: 1.5rem;

    }

}
.job-list{
    .banner{
        margin-bottom: 2rem;
    }
    a{
        color: $primary-color;
    }
    a:hover{
        color: #1DA1F2;
    }

}