/* SCSS HEX */
/* SCSS Gradient */
body {
  color: #153055ff;
  background-color: #fafafa  !important;
  overflow-x: hidden;
  overflow-y: scroll !important;
  font-family: 'Poppins', sans-serif;
}

h3 {
  text-align: center !important;
  font-weight: 800;
}

.login {
  border: none;
  color: #153055ff;
}

.login:hover {
  background-color: #153055ff;
  color: white;
}

.signup {
  border: none;
  background-color: #153055ff;
  color: white;
}

.signup:hover {
  color: white;
}

.signup:focus {
  color: white;
}

.header {
  background-color: white !important;
  padding: 2rem 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
  border-bottom: 1px solid #d1d1d1;
}

.header .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .social button {
  border: 1px solid #153055ff;
  font-size: 1.5rem;
  width: 12 0px;
}

.header .social button:focus {
  outline: 0;
}

.header .social img {
  width: 2rem;
  height: 2rem;
}

.header .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header .links a {
  color: #153055ff;
  text-decoration: none;
  padding-top: 3px;
}

.header .brand-name img {
  width: 250px;
}

.header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-link-wrapper {
  display: inline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0;
  width: 100%;
}

.nav-link-wrapper .nav-link {
  margin-left: 3rem;
}

.footer {
  width: 100%;
  position: relative;
  bottom: 0;
}

.footer .upper {
  background-color: #153055ff;
  padding: 4rem;
  color: #B9C1CCff;
}

.footer .upper h4 {
  margin-bottom: 2rem;
  font-weight: 800;
  color: whitesmoke;
}

.footer .upper ul {
  list-style: none;
  padding-left: 0;
}

.footer .upper ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .upper ul li img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}

.footer .upper .links li {
  border-bottom: 1px solid #B9C1CCff;
  margin-right: 30%;
  margin-bottom: 1rem;
}

.footer .upper .links li a {
  color: #B9C1CCff;
  margin-bottom: 0.5rem;
  text-decoration: none;
}

.footer .upper .social li, .footer .upper .contacts li {
  margin-bottom: 2rem;
}

.footer .lower {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #0f203a;
  color: white;
}

.landing-wrapper {
  background-color: white;
}

.landing {
  position: relative;
  margin-bottom: 5rem;
}

.landing .right {
  padding: 13% 0%;
  padding-left: 1.5rem;
  text-align: start;
}

.landing .right h1 {
  font-size: 7rem;
  font-weight: 900;
  margin-bottom: 4rem;
}

.landing .right strong {
  font-size: 4rem;
  font-weight: 900;
}

.landing .right p {
  color: #B9C1CCff;
}

.landing .col-md-5 img {
  width: 100%;
}

.landing .search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 80px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 100%;
  padding: 4rem;
  position: absolute;
  bottom: 0.6rem;
  opacity: 1;
}

.landing .search-bar div {
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
}

.search-box, .industry, .location {
  width: 25%;
}

.search-box select, .search-box input, .industry select, .industry input, .location select, .location input {
  border: none;
  width: 100%;
}

.search-box select:focus, .industry select:focus, .location select:focus {
  outline: 0;
}

.search-box input:focus, .industry input:focus, .location input:focus {
  outline: 0;
}

.search-button {
  width: 18%;
  background-color: #f6993f;
  padding: 1rem 2rem;
  text-align: center;
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
}

.search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-box img {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 1rem;
}

.post-banners {
  margin-top: 7rem;
  margin-bottom: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.post-banners h3 {
  margin-bottom: 4rem;
}

.post-banners .cta-post {
  margin: 3rem;
  margin-top: 4rem;
  background-color: #f6993f;
  padding: 1rem 2rem;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 3px;
  font-weight: 700;
  text-transform: capitalize;
}

.banner {
  position: relative;
  padding: 2rem;
  margin: 1rem;
  background-color: white !important;
  border: 1px solid #B9C1CCff;
}

.banner ul {
  margin-top: 2rem;
  list-style: none;
  margin-bottom: 0px !important;
  -webkit-padding-start: 0px !important;
          padding-inline-start: 0px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.banner ul li {
  margin-bottom: 0px !important;
  margin-right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner ul li img {
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 1rem;
}

.banner .sm-wrapper p {
  float: right;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #E1EF9Bff;
  padding: 0.5rem 1rem;
  border-radius: 20px;
}

.banner small {
  font-size: smaller;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: #B9C1CCff;
}

.banner .snowflake img {
  width: 13px;
  height: 13px;
  position: absolute;
  top: 4px;
  left: 2px;
  z-index: 10;
}

.triangle {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0;
  height: 0;
  border-top: 37px solid #153055ff;
  border-right: 37px solid transparent;
}

.blog-post {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.blog-post .image {
  position: relative;
  width: 100%;
}

.blog-post .image img {
  width: inherit;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-post .image p {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: white;
  padding: 0.6rem 1.7rem;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 20px;
  background-color: #153055ff;
}

.blog-post .col-md-4 .tcard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog-post .col-md-4 .tcard .body {
  padding: 15px;
  color: black;
  background-color: #fafafa;
  -webkit-box-shadow: 0 5px 25px 0 rgba(41, 128, 185, 0.15);
  box-shadow: 0 5px 25px 0 rgba(41, 128, 185, 0.15);
}

.blog-post .col-md-4 .tcard .body .blog-card-title {
  color: #153055ff !important;
}

.blog-post b {
  margin-top: 2rem;
}

.blog-post p {
  font-size: smaller;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.blog-post .blog-post-footer {
  border-top: 1px solid #d1d1d1;
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0rem  0.5rem 0rem;
}

.blog-post .blog-post-footer .left {
  background-color: #E1EF9Bff;
  padding: 1rem 2rem;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.blog-post .blog-post-footer b {
  font-size: small;
}

.section-title-wrapper {
  margin-bottom: 3rem;
  text-align: center;
}

.section-title-wrapper h2 {
  letter-spacing: 1px;
  color: #153055ff;
}

.section-title-wrapper p {
  color: #1c1c1c;
}

.about {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.about h3 {
  text-align: center;
}

.about .cards {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about .cards div {
  width: 33.333% !important;
  height: 450px;
  overflow: hidden;
}

.about .left {
  overflow: hidden;
}

.about .left img {
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  float: right;
}

.about .mid {
  background-color: white;
}

.about .right {
  background-color: #B9C1CCff;
}

.about .mid, .about .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
  -ms-flex-direction: column;
      flex-direction: column;
  text-align: center;
}

.about .mid img, .about .right img {
  width: 35%;
  margin-bottom: 2rem;
}

.about .mid .orange-box, .about .right .orange-box {
  margin-top: 6rem;
  background-color: #f6993f;
  padding: 1rem 2rem;
  text-align: center;
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  border-radius: 3px;
}

.services {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.services .carousel {
  margin-top: 4rem;
}

.services .carousel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 450px;
}

.services .carousel-item img {
  width: 50% !important;
}

.services .carousel-item .content {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: start;
  width: 50%;
  padding: 3rem;
  padding-right: 15% !important;
  padding-left: 5% !important;
  -ms-flex-direction: column;
      flex-direction: column;
}

.services .carousel-item .content img {
  width: 30% !important;
  margin-bottom: 2rem;
}

.services .carousel-item .content h3 {
  text-align: start !important;
}

.services .carousel-item .content .orange-box {
  margin-top: 2rem;
  background-color: #f6993f;
  padding: 1rem 2rem;
  text-align: center;
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  border-radius: 3px;
}

.ma-r-3 {
  margin-right: 3rem;
}

.ma-r-5 {
  margin-right: 5rem;
}
/*# sourceMappingURL=main.css.map */