@import "variables";


@mixin flex-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

@mixin flex-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
@mixin margining {
    margin-top: 7rem;
    margin-bottom: 7rem;
}

@mixin box-shadow{
    -webkit-box-shadow: 0px 0px 4px 0px rgba(22,48,84,1);
    -moz-box-shadow: 0px 0px 4px 0px rgba(22,48,84,1);
    box-shadow: 0px 0px 4px 0px rgba(22,48,84,1);
    background-color: white;
}

body{
    color: $primary-color;
    background-color: #fafafa  !important;
    overflow-x:hidden;
    overflow-y: scroll !important;
     font-family: 'Poppins', sans-serif;
}
// a{
//     color: $primary-color !important;
// }
// a:hover{
//     color: #1DA1F2 !important;
//     text-decoration: none !important;

// }
h3{
    text-align: center !important ;
    font-weight: 800;
}
.login{
    border: none;
    color: $primary-color;
}
.login:hover{
    background-color: $primary-color;
    color: white;
}
.signup{
    border: none;
    background-color: $primary-color;
    color: white;
}
.signup:hover{
    color: white;
}
.signup:focus{
    color: white;
}
.header{
    background-color: white !important;
    padding: 2rem 4rem;
    align-items: center;
    text-transform: capitalize;
    border-bottom: 1px solid #d1d1d1;
        .social{
            @include flex-space-between;

            button{
                border: 1px solid $primary-color;
                font-size:1.5rem;
                width:12 0px;
            }
            button:focus{
                outline: 0;
            }
            img{
                width: 2rem;
                height: 2rem;
            }
        }
        .links{
            @include flex-space-between;
            padding-top: 1rem;
            padding-bottom: 1rem;
            a{
                color: $primary-color;
                text-decoration: none;
                padding-top:3px;
            }
        }
        .brand-name{
            img{
                width: 250px;
            }
        }
             
}

.header-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-link-wrapper{
    display: inline;
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-left:0;
    width: 100%;
    .nav-link{
        margin-left:3rem;
    }
}

.footer{
    width: 100%;
    position: relative;
    bottom: 0;
    .upper{
        background-color: $primary-color;
        padding: 4rem;
        color: $silver-sand;
       h4{
           margin-bottom: 2rem;
           font-weight: 800;
        color: whitesmoke;

       }
       ul{
           list-style: none;
           padding-left: 0;
           li{
               display: flex;
               flex-direction: row;
               align-items: center;
               img{
                   width: 1.5rem;
                   height: 1.5rem;
                   margin-right: 1rem;
               }
           }
       }
       .links{
        li{
            border-bottom: 1px solid $silver-sand;
            margin-right: 30%;
            margin-bottom: 1rem;
            a{
                color: $silver-sand;
                margin-bottom: 0.5rem;
                text-decoration: none;
            }

        }
       
       }
       .social,.contacts{
           li{
               margin-bottom: 2rem;
           }
       }
    }
    
    .lower{
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: #0f203a;
        color: white;
    }
    a{
        color: $silver-sand !important;
    }
}
.landing-wrapper{
    background-color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 7rem;

}
.landing{
    position: relative;
    margin-bottom: 5rem;

    .right{
        padding: 13% 0%;
        padding-left: 1.5rem;
        text-align: start;
        h1{
            font-size: 7rem;
            font-weight: 900;
            margin-bottom: 30%;
            color: white;
        }
        strong{
            font-size: 4rem;
            font-weight: 900;
            color:$silver-sand;
        }
        p{
            color: white;
        }
    }
    .col-md-5{
        img{
            width: 100%;
        }
    }
    .search-bar{
        @include flex-space-between;
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 80px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        width: 100%;
        padding: 4rem;
        position: absolute;
        bottom: 0.6rem;
        // background-color: $primary-color;
        opacity: 1;
        div{
            background-color: white;
            padding: 1rem;
            border-radius: 5px;
        }

    
    }



}
.search-box,.industry,.location{
    width: 25%;
    select,input{
        border: none;
        width: 100%;

    }
    select:focus{
        outline: 0;
    }
    input:focus{
        outline: 0;
    }
}

.search-button{
    width: 18%;
    background-color: $orange !important;
    padding: 1rem 2rem;
    font-weight: bold;
    text-align: center;
    height: fit-content !important;
}

button:focus{
    outline: 0 !important;
    border: none;
}
.search-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    img{
        width: 1.8rem;
        height: 1.8rem;
        margin-right: 1rem;
    }
}
.post-banners{
    @include margining;
    @include flex-center;
    flex-direction: column;
    h3{
        margin-bottom: 4rem;
    }

    .cta-post{
        margin: 3rem;
        margin-top: 4rem;
        background-color: $orange;
        padding: 1rem 2rem;
        text-align: center;
        width: fit-content;
        border-radius:3px;
        font-weight: 700;
        text-transform: capitalize;
        a{
            text-decoration: none;
            color: $primary-color;
        }
    }

    a{
        color: $primary-color;
    }
    a:hover{
        color: #1DA1F2;

    }
}
.banner{
    position: relative;
    padding:  2rem;
    margin: 1rem;
    background-color: white !important;
    border:1px solid $silver-sand;
    ul{
        margin-top: 1rem;
        list-style: none;
        margin-bottom: 0px !important;
        padding-inline-start: 0px !important;
        @include flex-space-between;
        justify-content: flex-start;
        li{
            margin-bottom: 0px !important;
            margin-right: 2rem;
            width:fit-content;
            @include flex-center;
            img{
                width: 1.3rem;
                height: 1.3rem;
                margin-right: 1rem;
            }
    }

    }
    .title{
        margin-top:0.5rem;
        font-size: small;
        color: black;
    }
    .sm-wrapper{
        // @include flex-space-between;
        // flex-direction: column;
        p{
            float: right;
            width: fit-content;
            background-color: $key-lime;
            padding: 0.5rem 1rem ;
            border-radius: 20px;
        }
    }
    small{
        font-size: smaller;
        position: absolute;
        bottom: 1rem;
        right:1rem;
        color: $silver-sand;
    }
    .snowflake{
        img{
            width: 13px;
            height: 13px;
            position: absolute;
            top: 4px;
            left: 2px;
            z-index: 10;
        }
    }

    
}
.triangle{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0;
    height: 0;
    border-top: 37px solid $primary-color;
    border-right: 37px solid transparent;
}

.blog-post{
    @include margining;
    .image{
        position: relative;
        width: 100%;
        img{
            width: inherit;
            height: 300px;
            object-fit: cover;

        }
        p{
            position: absolute;
            top: 1rem;
            left: 1rem;
            color: white;
            padding: 0.6rem 1.7rem;
            text-align: center;
            width: fit-content;
            border-radius: 20px;
            background-color: $primary-color;
        }
    }
    .col-md-4{
        .tcard{
            display: flex;
            flex-direction: column;
            .body{
                height: 198px ;
                padding: 15px;
                color: black;
                background-color: #fafafa;
                -webkit-box-shadow: 0 5px 25px 0 rgba(41,128,185,0.15);
                box-shadow: 0 5px 25px 0 rgba(41,128,185,0.15);
                .blog-card-title{
                    color:$primary-color !important;
                }
    
            }
        }
        
    }
    b{
        margin-top: 2rem;
    }
    p{
        font-size: smaller;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .blog-post-footer{
        border-top: 1px solid #d1d1d1;
        margin-top:5rem;
        @include flex-space-between;
        padding:1rem 0rem  0.5rem 0rem;
        .left{
        background-color: $key-lime;
        padding: 1rem 2rem;
        text-align: center;
        width: fit-content;
        }
        b{
            font-size: small;
        }

    }

}

.section-title-wrapper{
    margin-bottom:3rem;
    text-align:center;
    h2{
        letter-spacing:1px;
        color:$primary-color;
    }
    p{
        color: #1c1c1c;
    }
}

.about{
    @include margining;

    h3{
        text-align: center;
    }
    .cards{
        margin-top: 4rem;
        display: flex;
        flex-direction: row;

        div{
            width: 33.333% !important;
            height: 450px;
            overflow: hidden;
        }

    }
 
    .left{
        overflow: hidden;
        img{
            height: inherit;
            object-fit: cover;
            float: right;
        }
    }
    .mid{
        background-color: white;
    }
    .right{
        background-color: $silver-sand;
    }
    .mid,.right{
        @include flex-center;
        padding: 3rem;
        flex-direction: column;
        text-align: center;
        img{
            width: 35% ;
            margin-bottom: 2rem;
        }
        .orange-box{
            margin-top: 6rem;
            background-color: $orange;
            text-align: center;
            align-items: center;
            height: fit-content !important;
            width: fit-content !important;
            border-radius: 3px;
            a{height: fit-content;}
        }
    }



}

.services{
    @include margining;
    .carousel{
        margin-top: 4rem;
    }
    .carousel-item{
        display: flex;
        flex-direction: row;

        width: 100%;
        height: 450px;
        img{
            width: 50% !important;

        }
        .content{
        background-color: white;
        display: flex;
        flex-direction: row;
        text-align: start;
        width: 50%;
        padding: 3rem;
        padding-right: 15% !important;
        padding-left: 5% !important;
        flex-direction: column;
        img{
            width: 30% !important;
            margin-bottom: 2rem;
        }
        h3{text-align: start !important;}
        .orange-box{
            margin-top: 2rem;
            background-color: $orange;
            text-align: center;
            height: fit-content !important;
            width: fit-content !important;
            border-radius: 3px;
        }
        }
    }
}


// utilites

.ma-r-3{
    margin-right:3rem;
}

.ma-r-5{
    margin-right:5rem;
}
.ma-t-2{
    margin-top: 2rem;
}
.ma-t-5{
    margin-top: 5rem;
}


//auth page

.auth-wrapper{
    margin-top:4rem;
    display: flex;
    justify-content: center;
    font-size: small;
    .auth{
        color: $primary-color;
        width: 50rem;
        background:white;
        padding:4rem;
        text-align:center;
        -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
        border-radius: 20px;

        img{
            width: 20rem;
            margin-bottom: 4rem;
        }
        .google-btn{
            margin-bottom: 2rem;
            align-items: center;
            width: 100%;
            display: flex;
            justify-content: center;
            -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
            border-radius: 5px;
            padding: 1rem;
            img{
                width: 2rem;
                height: 2rem;
                margin-right: 2rem;
            }
            a{
                display: flex;
                height: 2.5rem;
                color: inherit;
                align-items: end;
            }
            a:hover{
                text-decoration: none;
            }
        }
        input{
            border: none;
            border-bottom: 1px solid $silver-sand;
            background-color: inherit;
            width: 100%;
            height: 5rem;

        }
        input:focus{
            outline: 0;
        }
        
        .btn{
            width: 100%;
            background-color: $orange;
            padding-top: 1rem;
            padding-bottom: 1rem;
            font-weight: bold;
            margin-top: 2rem;
            margin-bottom: 1rem;
        }
        button:focus{
            outline: 0;
        }
        .check{
           display: flex; 
           margin-top:1rem;
           justify-content: flex-start;
           align-items: center;
           input{
               width: 2rem;
               margin-right: 2rem;
           }
        }
        .or{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 2rem;
            .hr{
                width: 40%;
                margin-top: 1rem;
                height: 1rem;
                border-top: 1px solid $silver-sand;
            }
        }
    }

}

.tab-content{
    width: 6rem;
}
.hide{
    display: none;
}
.show{
    display: block;
}

input:-internal-autofill-selected {
    background-color: inherit !important;
}
.about-card{
    margin-top: 5rem;
    margin-bottom: 5rem;
    img{
        width: 25rem;
        height: 25rem;
        border-radius: 50%;
        object-fit: cover;
        -webkit-box-shadow: 1px 0px 14px 0px rgba(22,48,84,1);
        -moz-box-shadow: 1px 0px 14px 0px rgba(22,48,84,1);
        box-shadow: 1px 0px 14px 0px rgba(22,48,84,1);

    }
    text-align: center;

    hr{
        border-top: 5px solid $primary-color !important;
    }
}
.about-header{
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    hr{
        width: 25%;
        border-color: $primary-color;
    }
    h1{
        font-weight: 300;
    }
}

.about-top{
    margin-top: 5rem;
    margin-bottom: 5rem;

    img{
        width: 40rem;
        border-radius: 10px;
    }
    .col-md-8{
        padding: 2rem;
        text-align: start;
    }
}

.mv-collapse{
margin-top: 1rem;
margin-bottom: 7rem;
    .card-header{
        border-bottom: 1px solid $silver-sand;
    }
    
    a{
        color: inherit;
        @include flex-space-between;

    }
    a:hover{
        text-decoration: none;
    }
    img{
        width:2rem;
        height:2rem;
        float: right;
    }
    .card-body{
        padding: 2rem 1rem 2rem 7rem;
        font-size: small;

        
    }
}

.personal-info{
    margin: 5rem 20rem;
    font-size: small;
    @include flex-center;
    @include box-shadow;
    flex-direction: column;

    padding: 4rem 6rem;
    border-radius: 10px;
    position: relative;
    .panel-header{
        border-radius: 50%;
        border: 1px solid $primary-color;
        width: fit-content;
        background-color: $primary-color;
        overflow: hidden;
        padding-top: 1rem;
        margin-bottom: 2rem;
        img{
            width: 7rem ;
            height: 6rem;
        }

    }
    form{width: 100%;}
    .panel-body{
        width: 100%;
        .col{
            @include flex-space-between;
            margin-bottom: 2rem;
        }
        input{
            border: none;
            border-bottom:1px solid $silver-sand;
            // height:2rem;
            width: 80%;
        }
        input:focus{
            outline: 0;
        }
    }
}
//head-top-left
.hd-tl{
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: $orange;
}

//footer-bottom-right

.ft-br{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}
.btn-orange{
    background-color: $orange;
    color: $primary-color;
}
button:focus{
    outline: 0;
    border: none;
}

.documents{
    @include box-shadow;
    background-color: white;
    margin: 5rem 20rem;
    padding: 4rem 6rem;
    position: relative;
    border-radius: 10px;
    .document{
        margin-top: 3rem;
        input{
            border: none;
            border-bottom:1px solid $silver-sand;
            width: 70%;
        }
        input:focus{
            outline: 0;
        }
        .col{
            @include flex-space-between;
            margin-bottom: 2rem;
        }
        img{
            width: 2rem;
        }
        
    }

}

.dropdown{
  
    .dp{
        border-radius: 50%;
        border: 1px solid $primary-color;
        width: fit-content;
        background-color: $primary-color;
        overflow: hidden;
        padding-top: 1rem;
        // margin-bottom: 2rem;
        img{
            width: 3.5rem ;
            height: 2.5rem;
        }

    }
    .dp-restyle{
        @include box-shadow;
        padding: 2rem;
        text-align: center;
        border-radius: 10px;
        font-size: small;

        span{
            border-bottom: 1px solid $silver-sand;
            padding-bottom: 0.5rem;
        }
      
    }
}

.fade{

    opacity: 0.9 !important;

    .modal-dialog{
    top:30%;
    opacity: none;
    }
}

.employer{
    input{
        border: none ;
        border-bottom: 2px solid $primary-color !important;
        height: 4rem !important;
        margin-bottom: 3rem;
        background-color: rgb(238, 249, 253);
    }

    label{
        font-weight: 400;
    }

}