// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import '../variables';

// Bootstrap
//shared style

@mixin flex-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@mixin flex-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center !important;
    text-align: center;
}

@mixin search-border {
    border: 1px solid $silver-sand;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    margin: 1rem;
    padding: 2px;
}


@mixin box-shadow{
    -webkit-box-shadow: 0px 0px 25px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 25px -16px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 25px -16px rgba(0,0,0,0.75);
    background-color: white;
}
body{
    background-color:$silver-sand ;
}

hr{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}


//static_layout
.main-header{
    background-color: white;
    padding-top: 1rem;
    .tool-bar{
        @include flex-space-between;
        .name{
            margin-left: -13rem;
            img{
                width: 20rem;
            }
        }
        ul{
            list-style: none;
            li{
                float:left;
            }
        }
        .banner{
            background-color: $silver-sand ;
            span{
                background-color: $key-lime;
            }

        }
    }
    .nav-bar{
        font-weight: 500;
        font-size: 1.5rem;
        ul{
            list-style: none;
            padding-left: 0;
            li{
                float: left;
                margin-right: 2rem;
            }
        }
    }
    .summary{
        padding: 1.5rem 0rem 0.5 0rem;
        color: $primary-color;
        float: left;
        width: 100%;
        text-align: start;
        h2{
            font-weight: 600;
        }
       
        b{
            font-size: 2rem;
            font-weight: 300 !important;
        }

        .right{
            float: right;
        }
        // .banner{
        //     background-color: $primary-color;
        //     color: whitesmoke;
        //     span{
        //         background-color: $silver-sand;
        //         color: $primary-color;
        //         font-size: 2rem;
        //         font-weight: 700;
        //     }
        // }

 
        input,select{
            height: 2rem !important;
            border-bottom: none !important;
        }
    }
}

.banner{
    @include flex-center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 4px;
    padding-right: 2rem;
    font-size: small;
    font-weight: 500;
    min-width: max-content;
    height: fit-content;
    span{
        @include flex-center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: solid 1px whitesmoke;
        margin-left: -1px;
        margin-right: 5px;
    }
}

.main-body{
    width: 100%;
    padding: 2rem;
    height:550px;
    overflow-y: scroll ;
}

.main-footer{
    
    width: 100%;
    padding: 1.5rem 1rem 2rem 1rem;
    background-color: $primary-color;
    color: whitesmoke;
    position: absolute;
    bottom: 0px !important;
    @include flex-space-between;
    font-size: small;
    ul{
        list-style: none;
        li{
            float: left;
            margin-left: 1rem;
        }
    }
}

.post-list{
    .card{
        position: relative;
        margin: 1rem;
        padding: 1rem;
        // height: 120px !important;
        color: $primary-color;
        text-align: start;
        background-color: white;
        p{
            margin-top: 5px;
            margin-bottom: 5px;
            height: 40px !important;
            align-items: baseline ;
            font-size: small !important;
        }
        .card-footer{
            @include flex-space-between;
            font-size: small;
            font-weight: 500;
    
        }
    
        .triangle{
            position: absolute;
            top: 0px;
            left: 0px;
            width: 0;
            height: 0;
            border-top: 10px solid $primary-color;
            border-right: 10px solid transparent;
        }
    }
}

input ,select{
    border: none ;
    border-bottom: 2px solid $primary-color !important;
    height: 5rem !important;
}

.add-job-post-form{
    margin: 2rem 4rem ;
        label{
            font-weight: 400 !important;
        }
 
      

       button{
           position: absolute;
           bottom: 8rem;
           right: 8rem;
           float: right !important;
           background-color: $primary-color;
           margin-right: 1.5rem;
           border: 1px solid whitesmoke;
       }

       .tox{height: 280px !important;}

}

.search-bar{
    width: 100%;
    .title{
        @include search-border;
        font-size: 1.5rem;
        font-weight: 600;
        padding-left: 5px;
    }
    .search-box{
        @include search-border;
        @include flex-space-between;
        align-items: center;
        input{
            border: none;
            width: 95%;
        }
        input:focus {outline:0;}
        img{
            width: 15px;
            height: 15px;
            margin-right: 5px;
        }
    }
    .filter{
        padding-right:3px !important;
        select{
            border: none;
            width: 100%;
     
        }
        select:focus {outline:0;}

        @include search-border;
    }
}

.red{color: red;}
.green{ color:green;}
.gray{color: $silver-sand;}

//bootstrap corrections
.fade{
    opacity: 0.9 !important;

    .modal-dialog{
    top:30%;
    opacity: none;

    }
}
.dashboard{
    margin-top: 4rem;
}
.d-card{
    @include box-shadow;
    padding: 2rem 3rem 1rem 3rem;
    border-radius: 10px;
    font-size: small;
    border-bottom: 5px solid $primary-color;
    margin: 2rem 4rem;
    .d-card-header{
        @include flex-space-between;
        border-bottom: 1px solid $silver-sand;
        padding-bottom: 2rem;
        font-size: 3.5rem;
        font-weight: 7000;
        .image{
            @include flex-center;
            width: 5rem;
            height:5rem;
            background-color: $silver-sand;
            border-radius: 5px;
            text-align: center;
            align-items: center;
            img{
                width: 3rem;
                height: 3rem;
            }
        }
        b{
            font-size: 2.5rem;
        }
    }
    small{

        font-weight: 700;
    }
}

.add-category{
    position: absolute;
    right: 1.5rem;
    top:0.3rem;
    border-radius:50% ;
    background-color: $primary-color;
    width: 1.8rem;
    height: 1.8rem;
    @include flex-center;
    img{
        width: 1rem;
        height: 1rem;
        object-fit: cover;
    }
}

.modal-dialog{
    top:20rem;
}
.blog-posts{
    .card{
        border-radius: 5px !important;
        margin-bottom: 4rem;

        // overflow: hidden;
        img{
            width: inherit;
            height: 140px;
            object-fit: cover;
        }
        p{
            font-size: small;
        }
        .card-body{
            position: relative;
            @include box-shadow;
            padding: 1rem;

            small{
                position: absolute;
                right:0rem;
                padding: 0.4rem 2rem 0.4rem 1.5rem;
                background-color: $orange;
                bottom: 0.5rem;
                float: right;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;

                a{
                    font-weight: bold;
                    color: white ;

                }
                a:hover{
                    text-decoration: none;
                    color: #1DA1F2;

                }

            }
        }
    }
}

.add-blog-post{
 

      input[type=file]{
          color: $primary-color;
          height: 3rem !important;
          border-bottom: none !important;
          margin-top: 5rem;
    }
      input{
          margin-bottom: 4rem;
      }
      label{
          font-size: 1.5rem;
          font-weight: 400;
      }
      textarea{
          height: 20rem;
      }
        .post-details{
            position: relative;
            padding: 1rem 6rem;
            height: 500px;

            button{
                position: absolute;
                bottom: 0rem;
                right: 6rem;
            }
        }

        .image{
            position: relative;
            width: 100%;
            img{
                width: inherit;
                height: 300px;
                object-fit: cover;
    
            }
            p{
                position: absolute;
                top: 1rem;
                left: 1rem;
                color: white;
                padding: 0.6rem 1.7rem;
                text-align: center;
                width: fit-content;
                border-radius: 20px;
                background-color: $primary-color;
            }
        }
        .col-md-4{
            .tcard{
                display: flex;
                flex-direction: column;
                .body{
                    padding: 15px;
                    color: black;
                    background-color: #fafafa;
                    -webkit-box-shadow: 0 5px 25px 0 rgba(41,128,185,0.15);
                    box-shadow: 0 5px 25px 0 rgba(41,128,185,0.15);
                    .blog-card-title{
                        color:$primary-color !important;
                    }
        
                }
            }
            
        }
        b{
            margin-top: 2rem;
        }
        p{
            font-size: smaller;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        .blog-post-footer{
            border-top: 1px solid #d1d1d1;
            margin-top:5rem;
            @include flex-space-between;
            padding:1rem 0rem  0.5rem 0rem;
            .left{
            background-color: $key-lime;
            padding: 1rem 2rem;
            text-align: center;
            width: fit-content;
            }
            b{
                font-size: small;
            }
    
        }
    
}

.btn-orange{
    background-color: $orange;
    color: $primary-color;
}

button:focus{
    outline: none !important;
    color: #1DA1F2 !important;
}

.avatar{
        border-radius: 50%;
        border: 1px solid $primary-color;
        width: fit-content;
        background-color: $primary-color;
        overflow: hidden;
        padding-top: 3rem;
        margin-bottom: 2rem;
        margin-top: 3rem;
        img{
            width: 12rem ;
            height: 9rem;
        }

}

.application-wrapper{
    span{
        font-size: 1.5rem;
        font-weight: 500;
        color: $primary-color;
        margin-right: 1rem;
    }
    .personal-info,.documents,.actions{
        @include box-shadow;
        margin-bottom: 4rem;
        padding: 2rem;
        border-radius: 5px;

    }
    .cell{
        @include flex-center;
        justify-content: start;
        padding-left: 2rem;
        margin: 2rem;
        height: 5rem;
        background-color: rgb(237, 237, 248);
        border-radius: 5px;
        width: 100%;
        border-bottom: 0.5rem solid $primary-color;
    }
    .icon{
        width: 100%;
        padding-left: 2.5rem;
        img{
            width: 7rem;
            height: 7rem;
        }
    }
    .documents-btn{
        @include flex-space-between;
    }
    .document-box{
        padding-left: 4rem;
    }
    .action-btn{
        margin-top: 2rem;
        margin-left: 0.5rem;
    }
}



