@import '../variables';
.post-list{
    position: relative;
 margin-left: 3rem;
 margin-right: 3rem;
 min-height: inherit !important;
 hr{
     margin-top: 2px !important;
     margin-bottom: 0px !important;
 }
 .card-header{
     display: flex;
     justify-content: start;
     flex-direction: row;
     align-items: center;
            font-weight: 500;
            font-size: 2rem;
        .category-icon{
            display: flex;
            justify-content: center;
            border-radius: 50%;
            padding: 1px;
            background-color: $silver-sand;
            width: 30px;
            height: 30px;
            margin-right: 1rem;
                img{
                    width: 60% !important;
                }


        }
  
 }

}
.summary{
    .right{
        img{
            width: 2.5rem;
            height: 2.5rem;
        }
    }

}

.add-post-button{
    text-decoration: none;
    position: absolute;
    bottom: 8rem;
    right: 2rem !important;
    z-index: 2;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    border: 2px solid whitesmoke;
    background-color: $primary-color;

    img{width: 50% !important;}
}
.add-post-button:hover{
    transform: scale(1.1);
}